/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:52b8fbc4b7ab5d9eb155e56816c6afae:a269f2abd42225d5e1114624ff00de23:ef277faf3d56b4ec43fff6d21d484acd$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(main_sprite.png);}

.logo {width:194px; height:37px; background-position: -2px -636px}
.sprite {width:194px; height:505px; background-position: -2px -129px}
.sprite2 {width:250px; height:125px; background-position: -2px -2px}
