/*
  jQuery scrollbar styling
*/
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
  width:auto;
  overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
  margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
  margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
  width:16px;
  height:100%;
  top:0;
  right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0; 
  height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
  width:2px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
  cursor:pointer;
  width:100%;
  height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:4px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
  display:block;
  position:relative;
  height:20px;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
  top:100%;
  margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
  height:auto;
  margin-right:0;
  margin-bottom:30px;
  overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
  margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
  margin-right:0;
  margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
  width:100%;
  height:16px;
  top:auto;
  right:auto;
  bottom:0;
  left:0;
  overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
  width:100%;
  height:2px;
  margin:7px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
  width:30px;
  height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:100%;
  height:4px;
  margin:6px auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
  display:block;
  position:relative;
  width:20px;
  height:100%;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
  float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
  margin-left:-40px;
  float:right;
}
.mCustomScrollBox{
  -ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
  opacity:0.75;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
  opacity:1;
  filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
  background:#000; /* rgba fallback */
  background:rgba(0,0,0,0.4);
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background:#fff; /* rgba fallback */
  background:rgba(255,255,255,0.75);
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  background:rgba(255,255,255,0.85);
  filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:rgba(255,255,255,0.9);
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

.mCSB_scrollTools .mCSB_buttonUp{
  background-position:0 0;
  /* 
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonDown{
  background-position:0 -20px;
  /* 
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonLeft{
  background-position:0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonRight{
  background-position:0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
  opacity:0.75;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
  opacity:0.9;
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}


/*
*/
/*
 * Style tweaks
 * --------------------------------------------------
 */ 
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
    -webkit-transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -150px; 
  }

  .row-offcanvas-left.active {
    left: 150px; 
  }

  .sidebar-offcanvas {
    top: 0;
  }
}

/* override bootstrap default style */
.navbar{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
/* override bootstrap default style */

/* sidebar menu style */
.sidebar-left{
  position: absolute;
  left:0;
  top:0;
  height:100%;  
}

.sidebar-left .nav{
  position: absolute;
  height:100%;
  width: 100%;
  left:0;
  overflow: auto;
}

.sidebar-left .nav li a{
  padding : 0 15px;
  color:#c9d4f6;
  display: block;
}

.sidebar-left .nav li{
  border-top: 1px solid #131519;
  box-shadow: 0 1px 0 #2A2C31 inset;
}

.sidebar-left .nav li.sidebar-logo{
  border:none;
  box-shadow: none;
}

.sidebar-left .nav li.active a{
  background: #1A1C20;
  -moz-box-shadow: inset 3px 4px 16px #0a090a;
  -webkit-box-shadow: inset 3px 4px 16px #0a090a;
  box-shadow: inset 3px 4px 16px #0a090a;
  border-left: 1px solid #2494F2;
}

.sidebar-left .nav li a:hover{
  color: #7f7f7f;
  background: #2a2c34;
}

.sidebar-left .nav li.active a:hover{
  background: #1A1C20;
  color:#c9d4f6;
  -moz-box-shadow: inset 3px 4px 16px #0a090a;
  -webkit-box-shadow: inset 3px 4px 16px #0a090a;
  box-shadow: inset 3px 4px 16px #0a090a;
}

.sidebar-left-bg{
  background: #1F2126;
}

.sidebar-logo p{
  position: relative;
}

.sidebar-logo p:after{
  content:"";
  position:absolute;
  top:0;
  left:50%;

  /*
    logo background url
  */
  background: url(../../../assets/image/track/main_sprite.png) no-repeat;
}

.main-content{
  position: absolute;
  height:100%;
  overflow: auto;
  bottom:0;
  right:0;
  top:0;
  -moz-box-shadow: -6px 0px 18px #000000;
  -webkit-box-shadow: -6px 0px 18px #000000;
  box-shadow: -6px 0px 18px #000000;
}

.main-content .navbar-mobile{
  margin-left:0;
  margin-right:0;
}

.main-content .view-templates{
  margin-left:0;
  margin-right:0;
}
/* sidebar menu style */

/* mobile custom style */
@media screen and (max-width: 767px) {
  .sidebar-logo{
    margin: 50px 0px;
  } 

 .sidebar-logo p:after{
    height:18px;
    width:97px;
    margin:0px 0px 0px -48.5px;  

    /*
      change the background url here to change the size of the logo on mobile
    */
    background: url(../../../assets/image/track/logo_1x.png) no-repeat center center;
  }

  .sidebar-left{
    width:150px;
  }
  
  .sidebar-left li{
    height: 40px;
    line-height: 40px;
  }

  .sidebar-left .nav li a{
    font-size:1em;
  }

  .bootstrap-icon{
    font-size:8px;
    padding-right: 8px;
    padding-left:8px;
  }

  .logo-topnav{
    height:50px;
    background: url(../../../assets/image/track/logo_1x.png) no-repeat center center;
  }

  .main-content{
    left:0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) { 
  .sidebar-logo{
    margin: 50px 0px;
  } 

 .sidebar-logo p:after{
    height:18px;
    width:97px;
    margin:0px 0px 0px -48.5px;  

    /*
      change the background url here to change the size of the logo on mobile
    */
    background: url(../../../assets/image/track/logo_1x.png) no-repeat center center;
  }

  .sidebar-left{
    width:150px;
  }
  
  .sidebar-left li{
    height: 40px;
    line-height: 40px;
  }

  .sidebar-left .nav li a{
    font-size:1em;
  }

  .bootstrap-icon{
    font-size:8px;
    padding-right: 8px;
    padding-left:8px;
  }

  .main-content{
    left:150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) { 
  .sidebar-logo{
    margin: 74px 0px;
  } 

 .sidebar-logo p:after{
    background-position: -2px -636px;
    height:37px;
    width:194px;
    margin:0px 0px 0px -97px;  
  }
  
  .sidebar-left{
    width:250px;
  }  

  .sidebar-left li{
    height: 40px;
    line-height: 40px;
  }

  .sidebar-left .nav li a{
    font-size:1.1em;
  }

  .bootstrap-icon{
    font-size:10px;
    padding-right: 10px;
    padding-left:10px;
  }

  .main-content{
    left:250px;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar-logo{
    margin: 90px 0px;
  } 

  .sidebar-logo p:after{
    background-position: -2px -636px;
    height:37px;
    width:194px;
    margin:0px 0px 0px -97px;  
  }
  
  .sidebar-left{
    width:280px;
  }

  .sidebar-left li{
    height: 50px;
    line-height: 50px;
  }

  .sidebar-left .nav li a{
    font-size:1.3em;
  }

  .bootstrap-icon{
    font-size:15px;
    padding-right: 20px;
    padding-left:20px;
  }

  .main-content{
    left:280px;
  }
}